<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>hapweb</title>
    <link  href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!--HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries-->
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--对IE8以下IE浏览器的样式的支持-->
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <!--对响应式布局的安排-->
    <!-- Chang URLs to wherever Video.js files will be hosted -->
    <link href="/stylesheets/video-js.css" rel="stylesheet" type="text/css">
    <!-- video.js must be in the <head> for older IEs to work. -->
    <script src="/xjs/video.js"></script>

    <!-- Unless using the CDN hosted version, update the URL to the Flash SWF -->
    <script>
        videojs.options.flash.swf = "/stylesheets/video-js.swf";
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="/xjs/jquery.min.js"></script>
    <script src="/xjs/bootstrap.min.js"></script>
    <style>
        *{margin:0;padding:0;}
    </style>
</head>
<body>